<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339208584156-nk2l9tgp7qff18idhr5td3tt9tpfndng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339208584156-nk2l9tgp7qff18idhr5td3tt9tpfndng</string>
	<key>API_KEY</key>
	<string>AIzaSyB4QPChISnFjKfbboG7i0Zqp5LhJv8ae5s</string>
	<key>GCM_SENDER_ID</key>
	<string>339208584156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ryankontos.How-Long-Left-Mac</string>
	<key>PROJECT_ID</key>
	<string>how-long-left</string>
	<key>STORAGE_BUCKET</key>
	<string>how-long-left.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339208584156:ios:114fd67d6c75f402be2d19</string>
	<key>DATABASE_URL</key>
	<string>https://how-long-left.firebaseio.com</string>
</dict>
</plist>