<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.ryankontos.How-Long-Left.refresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>How Long Left</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.ryankontos.How-Long-Left</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>HowLongLeft</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>How Long Left needs to access your calendar to get current and upcomings events so they can be shown in the app. No data will be collected.</string>
	<key>NSContactsUsageDescription</key>
	<string>How Long Left needs to access your contacts in order to display events that may have contact details associated with them. No data will be collected.</string>
	<key>NSLocationUsageDescription</key>
	<string>How Long Left needs to access your location in order to display events that may have location details associated with them. No data will be collected.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>How Long Left needs to access your location in order to display events that may have location details associated with them. No data will be collected.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>GetEventTimeRemainingIntent</string>
		<string>HLLWidgetIntent</string>
		<string>HowLongLeftIntent</string>
		<string>IntentIntent</string>
		<string>com.ryankontos.how-long-left.viewEventActivity</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>SettingsQuickActionIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Settings</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.ryankontos.howlongleft.SettingsQuickAction</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>UpcomingQuickActionIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Upcoming Events</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.ryankontos.howlongleft.upcomingEventsQuickAction</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>CurrentQuickActionIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Current Events</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.ryankontos.howlongleft.currentEventsQuickAction</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
