<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>How Long Left</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CLKComplicationPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).ComplicationController</string>
	<key>CLKComplicationSupportedFamilies</key>
	<array>
		<string>CLKComplicationFamilyCircularSmall</string>
		<string>CLKComplicationFamilyExtraLarge</string>
		<string>CLKComplicationFamilyGraphicBezel</string>
		<string>CLKComplicationFamilyGraphicCircular</string>
		<string>CLKComplicationFamilyGraphicCorner</string>
		<string>CLKComplicationFamilyGraphicRectangular</string>
		<string>CLKComplicationFamilyModularLarge</string>
		<string>CLKComplicationFamilyModularSmall</string>
		<string>CLKComplicationFamilyUtilitarianLarge</string>
		<string>CLKComplicationFamilyUtilitarianSmall</string>
		<string>CLKComplicationFamilyUtilitarianSmallFlat</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>How Long Left needs to access your calendar to get current and upcomings events so they can be shown in the app. No data will be collected.</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>com.ryankontos.How-Long-Left.watchkit</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.ryankontos.how-long-left.viewEventActivity</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>WKExtensionDelegateClassName</key>
	<string>$(PRODUCT_MODULE_NAME).ExtensionDelegate</string>
	<key>WKRunsIndependentlyOfCompanionApp</key>
	<true/>
</dict>
</plist>
